ac-dict/
auto-save-list/
backup/
backups/
el-get/
elisp/
eshell/
url/

*.elc
bookmark
custom-file.el
recentf
ido.last
keyfreq
keyfreq.lock

.dict
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.smex-items

ac-comphist.dat
org-clock-save.el
tramp
places
/projectile-bookmarks.eld
/projectile.cache
/bookmarks
