ac-dict/
auto-save-list/
backup/
el-get/
elisp/
elpa/
eshell/
url/

*.elc
.bookmark
.custom-file.el
.dict
.emacs.desktop
.emacs.desktop.lock
.ido.last
.keyfreq.lock
.mc-lists.el
.recentf
.smex-items

ac-comphist.dat
org-clock-save.el
tramp
